<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Canvasser Page</title>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    </style>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/business-casual.min.css" rel="stylesheet">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <script>
          var messages = {{messages | safe}};
          for(var i=0; i<messages.length; i++){
            alert(messages[i]);
          }
        </script>
      {% endif %}
    {% endwith %}
  </head>

  <body>

  <div class="top_nav">
    <div style="float:left; padding:10px"> Northeastern - Super Canvasser</div>
    <div style="float:right; padding:10px">
      <a href="/logout">Logout</a>
      <a href="/to_home">Home</a>
      <a><img src="/static/img/login.png" height="20" width="20"> Hi, {{session_user['name']}}</a>
    </div>
  </div>
    {% set letters='ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <!--<span class="site-heading-upper text-primary mb-3">Campaign</span>-->
      <span class="site-heading-lower">Canvasser Page</span>
    </h1>

     <!--Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <!--<a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Campaign</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item  px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{{url_for('add_date')}}">add date</a>
            </li>
            <li class="nav-item  px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{{url_for('delete_date')}}">view date</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{{url_for('canvasser')}}">view assignments</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <section class="page-section cta">
        {% set flag = {'value': True} %}
    {% for task in tasks_info %}
      <div class="container" >
        <div class="product-item"  style="background-color: rgb(252, 212, 133,0.3); padding: 20px; border-radius: 20px;">
          <div class="product-item-title d-flex">
            {% if flag['value'] %}
            <div class="bg-faded p-5 d-flex ml-auto rounded">
            {% else %}
            <div class="bg-faded p-5 d-flex mr-auto rounded">
            {% endif %}
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">{{task['date']}}</span>
                <span class="section-heading-lower">task {{loop.index}} ({{task['campaign_name']}})</span>
                <input type="button" class="btnT" onclick="location.href='{{ url_for('view_locations_on_map_canvasser', task_id=task['_id'])}}';" value="map" />
              </h2>
            </div>
          </div>
          {% if flag['value'] %}
          <div class="product-item-description d-flex mr-auto" >
                            {% if flag.update({'value': False}) %}
                            {% endif %}
          {% else %}
          <div class="product-item-description d-flex ml-auto">
                            {% if flag.update({'value': True}) %}
                            {% endif %}
            {% endif %}
            <div class="bg-faded p-5 rounded" style="width:100%" >
              <h3>task route(in order)</h3>
              <table>
            {%set next_flag = {'value': True}%}
            {% for loc in task.route %}
                {% if not task.route[loc][0]%}
                    {% if not next_flag['value']%}
                        <div style="float:left">
                            <h2 style="color:rgb(186, 124, 3); font-family:fantasy;">{{ letters[loop.index - 1] }} - {{loc}}</h2>
                        </div>
                        <div style="float:right">
                        <input type="button" class="btnT" onclick="location.href='{{ url_for('renew_task', task=task['_id'], begin_point=loc)}}';" value="set next" />
                        <input type="button" class="disbtnT" disabled onclick="location.href='{{ url_for('enter_results',
                            campaign_name=task['campaign_name'], address=loc, task_id=task['_id'], flag_=false)}}';" value=" enter results " />
                        <input type="button" class="disbtnT" disabled onclick="location.href='{{ url_for('view_result', address=loc)}}';" value="view results"/>
                        </div>
                    {% endif %}
                    {% if next_flag['value']%}
                        <div style="float:left">
                            <h2 onclick="location.href='{{ url_for('canvass', loc=loc)}}';" style="cursor:pointer;color:rgb(255,140,0); font-family:fantasy;">{{ letters[loop.index - 1] }} - {{loc}}</h2>
                        </div>
                        <div style="float:right">
                        <input type="button" class="disbtnT" disabled onclick="location.href='{{ url_for('renew_task', task=task['_id'], begin_point=loc)}}';" value="set next" />
                        <input type="button" class="btnT" onclick="location.href='{{ url_for('enter_results',
                            campaign_name=task['campaign_name'], address=loc, task_id=task['_id'], flag_=false)}}';" value=" enter results " />
                        <input type="button" class="disbtnT" disabled onclick="location.href='{{ url_for('view_result', address=loc)}}';" value="view results"/>
                        </div>
                        {% if next_flag.update({'value': False}) %}
                        {% endif %}
                    {% endif %}
                {% else %}
                <div style="float:left">
                    <h2 style="color:rgb(186, 124, 3); font-family:fantasy;">{{ letters[loop.index - 1] }} - {{loc}}</h2>
                </div>
                <div style="float:right">
                    <input type="button" class="disbtnT" disabled value="set next" />
                    <input type="button" class="btnT" onclick="location.href='{{ url_for('enter_results',
                            campaign_name=task['campaign_name'], address=loc, task_id=task['_id'], flag_=true)}}';" value="update results" />
                    <input type="button" class="btnT" onclick="location.href='{{ url_for('view_result', address=loc)}}';" value="view results"/>
                </div>
                {% endif %}
                <div style="clear:both"></div>
            {% endfor %}
            </table>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    {% endfor %}

    </section>
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Your Website 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0EKNt6qV5o98VGZ7UhR73p5qlPys4qsg&callback=initMap">
    </script>
  </body>

</html>